AGORA_APP_ID=your_agora_app_id
AGORA_APP_CERTIFICATE=your_agora_app_certificate
AGORA_CUSTOMER_ID=your_agora_rest_customer_id
AGORA_CUSTOMER_SECRET=your_agora_rest_customer_secret
AGORA_RECORDING_BUCKET=your_gcs_or_firebase_storage_bucket
AGORA_RECORDING_ACCESS_KEY=your_storage_access_key
AGORA_RECORDING_SECRET_KEY=your_storage_secret_key
AGORA_RECORDING_VENDOR=6
AGORA_RECORDING_REGION=0
AGORA_RECORDING_STORAGE_LIMIT_BYTES=4831838208
AGORA_RECORDING_START_BUFFER_BYTES=536870912
AGORA_RECORDING_MAX_DURATION_SECONDS=1800
